@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

.naveSecond{
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
}
.mainMenu{
    display: flex;
}
.mainMenu li{
    list-style: none;
    padding: 10px 30px;
}
.mainMenu li a{
    text-decoration: none;
    position: relative;
    text-transform: capitalize;
    color: black;
    font-size: 20px;
    font-weight: 900;

}
.mainMenu a:hover{
color: #03ACEF;

}



.mainMenu  a::after{
    content: "";
    position: absolute;
    background-color: #03ACEF;
    height: 3px;
    width: 0%;
    left: 0%;
    bottom: -20px;

transition: 0.5s;

}
.mainMenu a:hover::after{
    width: 100%;
}


@media screen and (max-width: 780px) {
    .mainMenu{
        display: flex;
        flex-direction: column;
        left: 0;
       
    }
    .naveSecond{
        background-color:  #03ACEF; 
        
    }
    .mainMenu li a{
        color: #ffff;
    }
    .mainMenu  a::after{
        
        background-color:  #9F1C22; 
    }
    .mainMenu a:hover{
        color: #c60e17;
        
        }
}