
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

.topNav{
    background-color: #03ACEF;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.topNav a{
    text-decoration: none;
    color: white;
}
.topNav  a:hover{
    
    color: #9F1C22;
   font-weight: bolder;
}

.topNav i{
  color: #fff;
    font-size: 20px;
    
 
}

.topNav span{
    color: white;
    padding-left: 5px;
}
@media screen and (max-width: 780px) {
    .topNav{
        display: none;
    }
}